<h3>{{i18n 'discourse_public_topic.public_topics'}}</h3>
<section class="field">
  <label class="checkbox-label">
    {{input
      type="checkbox"
      checked=category.make_topics_public
    }}
    {{i18n 'discourse_public_topic.make_topics_public'}}
  </label>
</section>
